<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  <script src="https://unpkg.com/vue@3"></script>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div id="app">

    <header>
      <h1>To-do</h1>
      <input
        type="text"
        placeholder="Add task"
        id="newTaskInput"
        v-model="newTask"
      />
      <button
        id="newTaskButton"
        @click="addTask()">
        Add
      </button>
    </header>

    <main id="task-list">
      <div class="task" v-for="(task, index) in tasks" :key="index">
        <input
          type="checkbox"
          v-model="task.complete"
        />
        <input
          type="text"
          v-model="task.text"
          :readonly="task.editing === false"
          :style="[
            task.complete ?
              {'text-decoration': 'line-through', 'color': '#aaa'}
              : {'text-decoration': 'none'}]"
        />
        <div class="actions">
          <i
            class="fa-solid fa-pen" style="font-size: 0.95rem;"
            v-if="task.editing === false"
            @click="editTask(index)">
          </i>
          <i class="fa-solid fa-check"
            v-else-if="task.editing === true"
            @click="editTask(index)">
          </i>
          <i class="fa-solid fa-xmark"
            @click="deleteTask(index)">
          </i>
        </div>
      </div>
    </main>

    <footer>
      <label>
        Add task with...
        <select v-model="addWith">
          <option value="unshift" selected>unshift (top)</option>
          <option value="push">push (bottom)</option>
        </select>
      </label>
    </footer>
  </div>

</body>
<script>
  Vue.createApp({
    data() {
      return {
        newTask: '',
        addWith: 'unshift',
        tasks: [],
      }
    },
    mounted () {
      if (localStorage.getItem('tasks') != null) {
        // this.tasks = JSON.parse(localStorage.getItem('tasks'))
        this.tasks = JSON.parse(localStorage.getItem('tasks'))
      }
    },
    methods: {
      addTask() {
        if (this.newTask !== '') {
          const template = {
            text: this.newTask,
            complete: false,
            editing: false
          }

          switch (this.addWith) {
            case 'unshift':
              this.tasks.unshift(template)
              break
            case 'push':
              this.tasks.push(template)
              break
          }
        }
      },
      deleteTask(index) {
        this.tasks.splice(index, 1)
      },
      editTask(index) {
        this.tasks[index].editing = !this.tasks[index].editing
      }
    },
    watch: {
      tasks: {
        handler:function () {
          localStorage.setItem('tasks', JSON.stringify(this.tasks))
        },
        deep:true
      }
    }
  }).mount('#app')
</script>
</html>