@import url('https://api.fonts.coollabs.io/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: #eee;
  font-family: Montserrat;
  padding: 10px;
}

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER */
header {
  text-align: center;
  display: flex;;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  width: 40%;
}
header > h1 {
  width: 100%;
  font-size: 2.2rem;
}
#newTaskInput {
  border: none;
  appearance: none;
  flex-grow: 1;
  justify-self: center;
  background-color: #444;
  color: #bbb;
  padding: 5px;
  /* width: 100%; */
  font-size: 1.6rem;
  outline: none;
}
@media (max-width: 1050px){
  #newTaskInput {
    width: 100%
  }
}

#newTaskButton {
  border: none;
  appearance: none;
  flex-grow: 1;
  font-size: 1rem;
}

/* MAIN */
main#task-list {
  border-radius: 5px;
  width: 60%;
  font-size: 1.25rem;
  padding: 8px;
}

.task {
  display: flex;
  align-items: center;
}
.task + .task {
  margin-top: 1rem;
}

.task > input[type="checkbox"] {
  margin-right: 0.5rem;
  transform: scale(1.4);
}
.task > input[type="text"] {
  appearance: none;
  background-color: transparent;
  color: #eee;
  border: none;
  font-size: 1rem;
}

.task .actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions i + i {
  margin-left: 10px;
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 10px;
}