* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

body {
	background: #222;
	height: 100vh;
	width: 100vw;
	color: #ccc;
	display: flex;
	flex-direction: row;
	font-family: sans-serif;
}



#sidebar {
	width: 20vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 15px;
	background-color: black;
	
}

#search {
	margin-bottom: 15px;
}

#settings {
	width: 30px;
	height: auto;
	position: absolute;
	bottom: 20px;
	transform-origin: 15px 15px;
	transition: transform 1.5s;
}

#settings:hover {
	transform: scale(1.5) !important;
	transform: rotate(-180deg) !important;
}
